@import url('https://fonts.googleapis.com/css?family=Comfortaa|Patua+One');

html, body {
  height: 100%;
  background: linear-gradient(to bottom right,#7f3737,#2a2122);
  font-family: 'Comfortaa', Arial, sans-serif;
  scroll-behavior: smooth;
}

.display {
  -webkit-overflow-scrolling: touch;
}

.header{
  text-align: center;
  height: 30px;
  letter-spacing: .4em;
}

.display{
  scroll-behavior: smooth;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  position: absolute;
  bottom: 40px;
  width: 100%;
  overflow-x: hidden;
}

.poster {
  flex: 0 0 auto;
  width: 200px;
  padding: 5px;
  margin: 5px;
}

.posterDisplay{
  margin-left: 10px;
}

.moreDetails:hover{
  opacity: .8;
  transform: scale(1.1);
}

button{
  /* font-family: 'Patua One', sans-serif; */
  letter-spacing: .1em;
  color: rgb(190, 170, 170);
  background-color: #1f0f0f;
  padding: 8px;
  border: none;
  font-size: 18px;
}

button:hover{
  background-color: #1f0f0f93;
  color: rgba(190, 170, 170, 0.808);
}

.homeButton{
  margin-left: 20px;
}

.homeButton:hover{
  transform: scale(1.1);
}

.favButton{
  width: 185px;
  height: 58px;
}

.removeButton{
  margin: auto;
}

.title{
  font-size: x-large;
  text-align: center;
}

.title:hover{
  font-size: x-large;
  color: rgb(190, 170, 170);
}

.titleDetail{
  margin-left: 20px;
}

.heroImage{
  justify-content: center;
  max-width: 95vw;
  margin: 20px;
}

.description{
  font-size: larger;
  padding: 20px;
}

.descriptionEdit{
  font-size: medium;
  padding: 20px;
}

.descriptionEdit:hover{
  color: rgb(190, 170, 170);
}

.largeEdit{
  width: 600px;
  height: 80px;
}

input{
  margin: 20px;
}

input:focus {
  border: 2px solid rgb(196, 1, 1);
}

.editButton{
  margin-left: 20px;
}

textarea{
margin: 20px;
}

.adminIcon{
  position: absolute;
  width: 40px;
  top: 20px;
  right: 40px;
  opacity: .3;
}

.adminIcon:hover{
  opacity: 1;
  width: 50px;
}

.genreList{
  font-size: large;
  margin-left: 20px;
}

.admin{
  margin: 0px;
  width: 80%;
}

.adminColumnOne{
  float: left;
  margin: 0px;
  width: 40%;
}

.adminColumnTwo{
  float: left;
  margin: 0px;
  width: 60%;
}

.edit{
  margin: 0px;
  width: 80%;
}

.editColumnOne{
  float: left;
  margin: 0px;
  width: 33%;
}

.editColumnTwo{
  float: left;
  margin: 0px;
  width: 33%;
}

.editColumnThree{
  float: left;
  margin: 0px;
  width: 33%;
}

.editBelow{
  float: left;
}

.genreButton{
  margin: 20px;
}

.favorited{
  position: absolute;
  margin-left: 240px;
  margin-top: 25px;
}

.playButton{
  position: absolute;
  margin-left: 55px;
}

.playButton:hover{
  transform: scale(2);
  animation: ease-in;
}

select{
  font-size: large;
  color: rgb(190, 170, 170);
  background-color: rgb(127, 55, 55);
  border: none;
}

textarea{
  font-size: large;
  color: rgb(190, 170, 170);
  background-color: rgb(127, 55, 55);
  border: none;
}

.leftButton{
  opacity: 1;
  position: absolute;
  width: 110px;
  bottom: 365px;
  left: 30px
}

.rightButton{
  position: absolute;
  width: 110px;
  bottom: 365px;
  right: 30px
}

.leftButton:hover{
  transform: scale(1.2);
}

.rightButton:hover{
  transform: scale(1.2);
}